extends base
block content
    div.col.col-md-8
        .card
            .card-body
                div.row.align-items-center
                    div.col.col-md-1.col-3
                        img.rounded-circle(src='http://placehold.it/50x50')
                    div.col.col-md-10
                        h3(contenteditable="true") #{question.title}
                        small #{question.user.firstname} #{question.user.lastname}
                    div.col.col-md-1.col-1
                        if(user && user.id === question.user.id)
                            span.fa.fa-pencil-alt.fa-xs.fa-fw.text-muted(data-id=question.id).edit-question
                p.card-text.question-description !{question.description}
    div.col.col-md-4
