.row.v-spaced
    .col.col-expand
        .card
            .card-body
                .row.align-items-center
                    .col
                        img(src='http://placehold.it/50x50').rounded-circle
                    .col.col-expand
                        div #{user.firstname}  #{user.lastname}
                        small.text-muted #{user.role === 'ADMIN' ? 'Administrateur' : 'Utilisateur'}
                    .col.col-md-2
                        div #{user.questions.length}
                        small.text-muted Questions

                    .col.col-md-2
                        if(user.role !== 'ADMIN')
                            button.btn.btn-danger.text-white.promote-btn(data-id=user.id) Promote
                        else
                            button.btn.btn-primary.demote-btn(data-id=user.id) Demote